<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruction Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            background-color: #f9f9f9;
            color: #333;
        }
        header {
            background: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        section {
            margin: 20px 0;
        }
        h1, h2 {
            color: #4CAF50;
        }
        ol {
            padding-left: 20px;
        }
        li {
            margin-bottom: 10px;
        }
        .step-image {
            max-width: 100%;
            height: auto;
            margin: 10px 0;
            border: 1px solid #ddd;
        }
        footer {
            text-align: center;
            margin-top: 20px;
            font-size: 0.9em;
            color: #777;
        }
    </style>
</head>
<body>
    <header>
        <h1>Instruction Guide</h1>
    </header>

    <section style="margin: 0 auto; display: flex; flex-direction: column; align-items: center; text-align: center;">
        <h2>Step-by-Step Instructions</h2>
        <ol style="list-style-position: inside; padding: 0;">
            <li style="display: flex; flex-direction: column; align-items: center; margin-bottom: 20px; font-size: 2rem;">
                1. After logged in, first route to the Profile screen.
                <img src="https://api.petattix.com/instruction/1.jpeg" height="500" width="400" alt="Troubleshooting" class="step-image">

            </li>
            <li style="display: flex; flex-direction: column; align-items: center; margin-bottom: 20px; font-size: 2rem;">
                2. Tap on Settings.
                <img src="https://api.petattix.com/instruction/2.jpeg" height="500" width="400" alt="Gathering Materials" class="step-image">
            </li>
            <li style="display: flex; flex-direction: column; align-items: center; margin-bottom: 20px; font-size: 2rem;">
                3. Then tap on Delete.
                <img src="https://api.petattix.com/instruction/3.jpeg" height="500" width="400" alt="Following Steps" class="step-image">
            </li>
           
        </ol>
    </section>
    
    

    <footer>
        <p>&copy; 2025 Pet Attix All rights reserved.</p>
    </footer>
</body>
</html>